# PepperDash Gitignore file 
# v00.01 2016-07-11

## SIMPL# and SIMPL#Pro Compiled Files
*SPls*/
SPlsWork/
*.dll
*.pdb
*.exe
*.mdb
*.bin
*.out
*.obj
*.cache
*.log

## NuGet 
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/
*.vspscc
*.vssscc

## Panel Files
*.ASV
*.ced
*.um2
*.sgd2
*.sm2
**/*.xexe
*.xexe.hash
**/*.c3prj
*.vtp.asv
*.hash

## Visual Studio
.vs/
*.userosscache
*.sln.docstates
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
ipch/
*.dbmdl

## Build Results
[Bb]in/
[Oo]bj/
TestResults/
*.Build.csdef
*.builds

## Rider
.idea/
*.sln.iml

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Others
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# End of file
